*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5e63ba;
    padding: 0 10px;
}
.container{
    width: 850px;
    background: #fff;
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 10px;
}
.hangman-box img{
    max-width: 270px;
}
.hangman-box h1{
    font-size: 1.45rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.word-display{
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.word-display .letter{
    width: 28px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    border-bottom: 3px solid #000;
    text-transform: uppercase;
   margin-bottom: 40px;
}
.word-display .letter.guessed{
    border-color: transparent;
    margin: -40px 0 35px;
}
.game-box h4{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-box h4 b{
    font-weight: 600;
}
.game-box .guesses-text b{
    color: #ff0000;
}
.game-box .keyboard{
    display: flex;
    gap: 5px;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
:where(.game-modal, .keyboard) button{
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 4px;
    background: #5e63ba;
    color: #fff;
    border: 0;
    outline: 0;
    font-weight: 600;
    cursor: pointer;
}
.keyboard button{
    width: calc(100% /9 - 5px);
    padding: 7px;
}
.keyboard button[disabled]{
    opacity: 0.6;
    pointer-events: none;
}
:where(.game-modal,.keyboard) button:hover{
    background: #8286c9;
}
.game-modal{
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    height: 100%;
    display: flex;
    pointer-events: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease;
}
.game-modal.show{
    opacity: 1;
    pointer-events: auto;
}
.game-modal .content{
    background: #fff;
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
.game-modal img{
    max-width: 130px;
    margin-bottom: 20px;
}
.game-modal h4{
    font-size: 1.53rem;
}
.game-modal p{
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}
.game-modal p b{
    color: #5e63ba;
    font-weight: 600;
}
.game-modal button{
    padding: 12px 23px;
}
@media(max-width: 782px){
    .container{
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }
    .hangman-box img{
        max-width: 200px;
    }
    .hangman-box h1{
        display: none;
    }
}